<p id="notice"><%= notice %></p>

<p>
  <b>M shop:</b>
  <%= @m_machine_number.m_shop_id %>
</p>


<%= link_to 'Edit', edit_m_machine_number_path(@m_machine_number) %> |
<%= link_to 'Back', m_machine_numbers_path %>
