<h1>データ保持期間マスタメンテ</h1>

<table id='rounded-corner'>
  <tr>
    <th>No</th>
    <th>名称</th>
    <th>保持期間</th>
    <th>単位</th>
    <th>編集</th>
  </tr>

<% @m_keep_months.each do |m_keep_month| %>
  <tr>
    <td align="center"><%= m_keep_month.display_order %></td>
    <td align="left"><%= m_keep_month.display_name %></td>
    <td align="right"><%= m_keep_month.keep_month %></td>
    <td align="center"> ヶ月</td>
    <td class="icon"><%= link_to image_tag('icon/24_edit.png'), edit_m_keep_month_path(m_keep_month) %></td>

  </tr>
<% end %>
</table>

<br />

