bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb
<% p "---------------- city select start-----------------------------"%>
<table id='rounded-corner'>
  <tr>
    <th>メニュー分類</th>
    <th>メニュー表示順</th>
    <th>メニュー名</th>
    <th>処理名</th>
    <th>詳細</th>
    <th>編集</th>
    <th>削除</th>
  </tr>
</table>
<% p "---------------- city select end-----------------------------"%>