


<p id="notice"><%= notice %></p>

<p>
  <b>Access user:</b>
  <%= @access_log.access_user_id %>
</p>


<%= link_to 'Edit', edit_access_log_path(@access_log) %> |
<%= link_to 'Back', access_logs_path %>
