<h1>メニュー表示マスタメンテ</h1>

<%#= link_to '新規登録', new_authority_menu_path, :class => 'add_icon' %>

<%= form_tag({:action => 'authority_select' }, { :remote => true }) do %>
   <%= select(:select, :m_authority_id, 
   MAuthority.find(:all, :order => 'authority_cd').map do |u|
      [u.authority_name,u.id]
   end, :include_blank => "選択して下さい") %>
  <%= submit_tag '選択' %>
<% end %>

<div id="result"></div>
            