<h1>更新</h1>

<%= render 'form' %>

<%#= link_to '詳細', @m_info_cost, :class => 'show_icon' %> 
<%#= link_to '戻る', m_info_costs_path, :class => 'return_icon' %>
<%= link_to '戻る', {:action=>"index",:input_check=>@check_del_flg}, :class => 'return_icon' %>