<%=render :partial => 'header' , :locals => {:m_shop_id => @m_shop_id,
	                                         :created_user_id => @created_user_id,
	                                         :audit_date_from => @audit_date_from,
	                                         :audit_date_to => @audit_date_to } %>
	                                         
<!-- 戻るボタンを実装する -->
<% if params[:back].to_s == "true" then %>
<a href="javascript:history.back();" class="return_icon" >戻る</a><br/>
<% end %>

<hr/>
                            
<%=render :partial => 'form' %>

<!-- 読取専用スクリプト -->
<% if params[:readonly].to_s == "true" then %>
<script language="JavaScript">
	//readonlyの場合はボタンを潰す
	$(function(){
		$(":submit,:button").each(function(){
			this.disabled = true;
		});
	});
</script>
<% end %>