<%=render :partial => 'header' , :locals => {:m_shop_id => @m_shop_id,
	                                         :created_user_id => @created_user_id,
	                                         :audit_date_from => @audit_date_from,
	                                         :audit_date_to => @audit_date_to } %>
	                                         
<!-- 戻るボタンを実装する -->
<% if params[:back].to_s == "true" then %>
	<!-- <a href="javascript:history.back();" class="return_icon" >一覧へ戻る</a> -->
	<%=link_to "一覧へ戻る", {:controller => "d_audit_approves", :action => "edit"}, :class => "return_icon" %>
	<br/> 
<% end %>
<!-- INSERT 2012.12.06 監査リストからの戻るを実装する -->
<% if params[:audit_list].to_s == "true" then %>
	<%=link_to "一覧へ戻る", {:controller => "d_audit_lists", :action => "edit", :back => "true"}, :class => "return_icon" %>
<% end %>
<!-- INSERT 2012.12.06 監査リストからの戻るを実装する -->
<hr/>

<% if @d_sale_etc_flg.to_s == "true" then %> 
	<%=render :partial => 'form' %>
<% else %>
	<span style="color:red">他商品売上メーター入力が行われていません。</span>
<% end %>

<!-- 読取専用スクリプト -->
<% if params[:readonly].to_s == "true" then %>
<script language="JavaScript">
	//readonlyの場合はボタンを潰す
	$(function(){
		$(":submit,:button").each(function(){
			this.disabled = true;
		});
	});
</script>
<% end %>