<h1>監査承認一覧</h1>

<br/>

<%=render :partial => 'header' , :locals => {:kansa => nil,
	                                         :shop_kbn => nil,
                                             :audit_class => 0,
                                             :zumi_flg => false} %>

<br/>


