<div style="text-align:left">
誤差内容入力：<%= @m_etc.etc_name %>
</div>
<%= form_tag({:action => 'update_error'},:remote => true) do %>
<div id="text_area">
	<%= render 'input_error' %>
</div>
<br />
<div style="text-align:right">
<%= submit_tag(" 登録 ",:disable_with => "登録中.....", :id=>"btn_comment") %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</div>
<% end %>

<script>
$( function () {
	// DELETE 2012.10.16 textareaのmaxlength属性で文字数制限
	//$("#btn_comment").click( function () {
	//	if ($("#error_note").val().length > 200) {
	//		alert("コメントは200文字以内で入力してください。");
	//		return false;
	//	}
	//});
});
</script>
