
<h1>タンク情報</h1>

<%= link_to '新規登録', {:action => 'reserve_new', :m_shop_id => @m_shop_id, :m_oil_id => @m_oil_id}, { :remote => true ,:class => 'add_icon'} %>
<div id="result">
  <%= render 'reserve_result' %>
</div>

<div id="new"></div>