<table id='rounded-corner' width="430">
  <tr>
    <th width="25%">車検予約日</th>
    <th width="49%">予約者名</th>
    <th width="13%">編集</th>
    <th width="13%">削除</th>
  </tr>
</table>

<div style="height:380px;width:455px;overflow-y:auto;overflow-x:hidden;">
<table id='rounded-corner2'style="margin-top:-1px; width:430px;">
<% @d_result_reserves.each do |d_result_reserve| %>
  <tr>
    <td width="25%">
    	<%= Time.parse(d_result_reserve.get_date).strftime("%Y/%m/%d") %>
    </td>
    <td width="49%"><%= d_result_reserve.reserve_name %></td>
    <td  width="13%" align="center">
      <%= link_to image_tag('icon/edit.png'), {:action => 'reserve_edit', :id => d_result_reserve.id}, {:remote => true } %>
    </td>
    <td  width="13%" align="center">
      <%= link_to image_tag('icon/delete.png'), {:action => 'reserve_delete', :id => d_result_reserve.id}, {:remote => true, :confirm => '削除します。よろしいですか？' } %>
    </td>
  </tr>
<% end %>
</table>
</div>
<br/>
