<table id='rounded-corner'>
  <th>獲得日</th>
  <td><%= Time.parse(@d_result.result_date).strftime("%Y/%m/%d") %></td>
</table>	
<br/>

<div align="left"><%= link_to '新規登録', {:action => 'reserve_new', :d_result_id => @d_result.id}, { :remote => true ,:class => 'add_icon'} %></div>
<table>
  <td>
  	<div id="result"><%= render 'reserve_result' %></div>
  </td>
  <td valign="top">
  	<div id="new"></div>
  </td>
</table>
