<%=render :partial => 'header' , :locals => {:m_shop_id => @m_shop_id ,
	                                         :created_user_id => @created_user_id,
	                                         :audit_date => @audit_date } %>


<!-- 戻るボタンを実装する -->
<% if params[:back].to_s == "true" then %>
<a href="javascript:history.back();" class="return_icon" >戻る</a><br/>
<% end %>
<!-- INSERT 2012.12.06 監査リストからの戻るを実装する -->
<% if params[:audit_list].to_s == "true" then %>
	<%=link_to "戻る", {:controller => "d_audit_lists", :action => "edit", :back => "true"}, :class => "return_icon" %>
<% end %>
<!-- INSERT 2012.12.06 監査リストからの戻るを実装する -->
<hr/>

<%=render :partial => 'form' %>

<!-- 読取専用スクリプト -->
<% if params[:readonly].to_s == "true" then %>
<script language="JavaScript">
	//readonlyの場合はボタンを潰す
	$(function(){
		$(":submit,:button").each(function(){
			this.disabled = true;
		});
	});
</script>
<% end %>
