<h1>会社情報</h1>

<%= render 'form' %>

<!--
<table>
  <tr>
    <th>会社名</th>
    <th>郵便番号</th>
    <th>住所</th>
    <th>システム名</th>
    <th>消費税率</th>
    <th>制限範囲</th>
  </tr>

<%# @establishes.each do |establish| %>
  <tr>
    <td><%#= establish.name %></td>
    <td><%#= establish.zip_cd %></td>
    <td><%#= establish.address %></td>
    <td><%#= establish.system_name %></td>
    <td><%#= establish.tax_rate %></td>
    <td><%#= establish.limit %></td>
  </tr>
<%# end %>
</table>

<br />

<%#= link_to 'New Establish', new_establish_path %>
-->
