<h1><%= "#{@input_day.to_s[0,4]}年#{@input_day.to_s[4,2]}月#{@input_day.to_s[6,2]}日" %></h1>



<table class="rounded-corner">
	<thead>
		<tr>
		<th style="min-width: 60px;">番号</th>
		<th style="min-width: 200px;">氏名</th>
		<th style="min-width: 140px;">勤怠</th>
		</tr>
	</thead>
	<tbody>
		<% @syain_users.each_with_index{ |user, index| %>
		  <% d_dutry = DDuty.find(:all, 
		  :conditions=>["duty_nengetu = '#{@input_day.to_s[0,6]}' and day = #{@input_day.to_s[6,2]} and user_id = #{user.id}"]) %>
		  <tr>
		  <td><%= user.account %></td>
		  <td><%= user.user_name %></td>
		  <td><%#= user.account %></td>
		  </tr>
		<% } %>
	</tbody>
</table>


<script>
$(function () {
	$('div#modal div.container').css("height", "700px");
	$('div#modal div.container').css("width", "500px");
});	
</script>