
     <div id="main-navigation">
        <ul class="wat-cf">
            <li>
            	<%= link_to '価格調査入力',:action => 'index' %></li> 
            <li class="active">  
              他社価格調査入力</li> 
            <li> 
              <%= link_to '他社マスタ入力',:controller => 'm_etc_shops',:action => 'index' %>
            </li> 
        </ul>
      </div>
