<br/><br/>
<table id='rounded-corner'>
  <caption>今週の予定</caption> 	
  <tr>
    <th width='100'>月曜日</th>
    <th width='100'>火曜日</th>
    <th width='100'>水曜日</th>
    <th width='100'>木曜日</th>
    <th width='100'>金曜日</th>
    <th width='100'>土曜日</th>
    <th width='100'>日曜日</th>
  </tr>
  <tr>
    <td>　<br><br><br></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>  
    <td></td>
    <td></td>                    
  </tr>
</table>
<br><br>

<table id='rounded-corner2'>
  <tr>
  	<th width='500'><%= image_tag 'information.png' %>お知らせ</th>
  </tr>
  <tr>
  	<td>a</td>
  </tr>  
</table>
<br><br><br>


<table id='rounded-corner2'>
  <tr>
  	<th width='500'><%= image_tag 'mail.png' %>新着メッセージ</th>
  </tr>
  <tr>
  	<td>a</td>
  </tr>  
</table>