発信者  ： <%= @send_user.user_name %><br />
タイトル： <%= @menu.display_name %><br /><br />

<table id='rounded-corner2'>
  <td width="430"><%= @d_comment.contents %></td>	
</table>
サンプル　あとでけしてね
  	<table id="report_view_table" class="rounded-corner">
  		<thead>
		<tr>
			<th style="min-width: 40px;">日付</th>
			<th style="min-width: 40px;">曜日</th>
			<th style="min-width: 100px;">現金売上</th>
			<th style="min-width: 100px;">プリカ売上</th>
			<th style="min-width: 100px;">ﾌﾟﾘｶ手数料</th>
			<th style="min-width: 100px;">その他売上</th>
			<th style="min-width: 100px;">掛入金</th>
			<th style="min-width: 100px;">出金</th>
			<th style="min-width: 100px;">小計</th>
			<th style="min-width: 100px;">釣銭追加</th>
			<th style="min-width: 100px;">ＡＳＳ入金</th>
			<th style="min-width: 100px;">前日入金</th>
			<th style="min-width: 100px;">当日入金</th>
			<th style="min-width: 100px;">翌日入金<br />(前)</th>
			<th style="min-width: 100px;">翌日入金<br />(後)</th>
			<th style="min-width: 100px;">計算上有高</th>
			<th style="min-width: 100px;">現金有高</th>
			<th style="min-width: 100px;">過不足</th>
		</tr>
		</thead>
		<tbody>
		<tr class="total">
			<td class="title" colspan="2">合計</td>
			<td class="money">Aa</td>
			<td class="money">Aa</td>
			<td class="money">Aa</td>
			<td class="money">Aa</td>
			<td class="money">Aa</td>
			<td class="money">Aa</td>
			<td class="money">Aa</td>
			<td class="money">Aa</td>
			<td class="money">Aa</td>
			<td class="money">Aa</td>
			<td class="money">Aa</td>
			<td class="money">Aa</td>
			<td class="money">Aa</td>
			<td class="money">Aa</td>
			<td class="money">Aa</td>
			<td class="money">Aa</td>
			<td class="money">Aa</td>
			
		</tr>
		<tr class="total">
			<td class="title" colspan="2">現金売上</td>
			<td class="money"></td>
		</tr>
		<tr class="total">
			<td class="title" colspan="2">コイン手数料</td>
			<td class="money"></td>
		</tr>
		<tr class="total">
			<td class="title" colspan="2">出納帳残高</td>
			<td class="money"></td>
		</tr>
		</tbody>
	</table>
<script>
$(function () {
	$('#report_view_table').tablefix({width: 300, height: 100, fixRows: 1, fixCols: 2});
});	
</script>