<!--<p id="notice"><%#= notice %></p>-->

  <table id='rounded-corner'>
  	<tr>
  	  <th>権限コード</th>
  	  <td><%= @m_authority.authority_cd %></td>  	  
  	</tr>
  	<tr>
  	  <th>権限名</th>
  	  <td><%= @m_authority.authority_name %></td>  	  
  	</tr>
  </table>


<%= link_to '編集', {:action=>"edit",:id=>@m_authority.id,:input_check=>@check_del_flg}, :class => 'edit_icon' %> |
<%= link_to '戻る', {:action=>"index",:input_check=>@check_del_flg}, :class => 'return_icon' %>
