<table class='rounded-corner' style="width:98%; white-space: nowrap;">
	<!-- begin ヘッダ -->
	<tr>
		<th>
			店舗
		</th>
		<th>
			監査日
		</th>
		<th>
			処理
		</th>
		<th>
			種別
		</th>
		<th>
			監査人
		</th>
		<th>
			立会人
		</th>
		<th>
			入力状況
		</th>
		<th>
			詳細
		</th>
		<th>
			ロック/解除
		</th>
		<th>
			確認
		</th>
		<th>
			承認状況
		</th>
	</tr>
	<!-- end ヘッダ -->
	
	<% for audit_rec in @audit %>
	<tr>
		<th>
			店舗
		</th>
		<th>
			監査日
		</th>
		<th>
			処理
		</th>
		<th>
			種別
		</th>
		<th>
			監査人
		</th>
		<th>
			立会人
		</th>
		<th>
			入力状況
		</th>
		<th>
			詳細
		</th>
		<th>
			ロック/解除
		</th>
		<th>
			確認
		</th>
		<th>
			承認状況
		</th>
	</tr>
	<% end %> <!-- 	<% for audit_rec in @audit %> -->
　



</table>
