<div style="text-align:left">
コメント入力：<%= @fixture.buy_item %>
</div>
<%= form_tag({:action => 'update_comment'},:remote => true) do %>
<div id="text_area">
	<%= render 'input_comment' %>
</div>
<br />
<div style="text-align:right">
<%= submit_tag(" 登録 ",:disable_with => "登録中.....") %>
</div>
<% end %>
