<%if session[:washpurika_mode] == "edit" then%>
	<h1>洗車プリカ販売目標実績更新</h1>
<%else%>
	<h1>洗車プリカ販売目標・実績表</h1>
<%end %>

<%= form_tag({:action => session[:washpurika_mode].to_s }) do %>
<table class='rounded-corner' >
	<tr>
  		<th>
  			対象年月
  		</th>
  		<td>
  			<% 
  			    year = Date.today.year - 1	
				y_list = Array.new()
				for i in 1..3
					y_list.push [year.to_s, year.to_s]
					year += 1
				end
  			%>
			<%=select :header, :y, y_list, :selected => ym_y %>
			年
			&nbsp;
			<%
				m_list = Array.new()
				for i in 1..12
					m_list.push [sprintf('%02d', i), sprintf('%02d', i)]
				end
			%>
			<%=select :header, :m, m_list, :selected => ym_m %>
			月
  		</td>
  		<td style="border: none;">
			&nbsp;
			<%= submit_tag '　表　示　', :disable_with => "処理中です..." %>
  		</td>
	</tr>
</table>
<%end%> <!-- form_tag :action = "edit" -->