<br/>
<div style="text-align:left">
&nbsp;&nbsp;過不足(出金誤差)理由：<br/>
</div>
<textarea id="_comment" rows="5" cols="60" style="ime-mode: active;" maxlength="100" ></textarea>
<br/>
<br/>
<div style="text-align:right">
<% if params[:mode] == "edit" %>
	<input type="button" value="登録" onclick="return update_comment();" />
<% else %>
	<input type="button" value="閉じる" onclick='$("div#modal div.background").trigger("click");' />
<% end %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</div>

<script>

$(function(){
	// 本体フォームよりコメントを取得
	$("#_comment").val( $("#d_sale_comment").val() );
});

function update_comment() {
	// コメントのみデータを上書き
	$.post("<%= url_for(:action => "comment_update") %>",
		{ m_shop_id : $("#d_sale_m_shop_id").val()
		 ,sale_date : $("#d_sale_sale_date").val()
		 ,comment   : $("#_comment").val()
		}
	);
	
	// 本体フォームのコメントを上書きして終了
	$("#d_sale_comment").val( $("#_comment").val() );
	$("div#modal div.background").trigger("click");
}

</script>
