<h1>売上入力状況確認</h1>
<%= hidden_field_tag 'head_from_view', "index" %>
<div id="select_day_info">
	<div class="title_alias">入力日</div>
	<div class="input_alias">
		<%= text_field :head ,:input_day, :class=>"datepicker" , :readonly=>"readonly" %>
    </div>
</div>
<div id="shop_kbn_info">
	<div class="title_alias">店舗種別</div>
	<div class="input_alias">
		<%= select :head, :input_shop_kbn, 
        MCode.find(:all, :conditions=>["kbn='shop_kbn'"], :order=>"code").collect{|i| [ "#{i.code_name}", i.code ]}, {:include_blank => true} %>
    </div>
</div>

<hr>

<div id="result">
<%= render 'result' %>
</div>
