// Place all the styles related to the d_sales controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#shop_info{
  display: inline-block; _display: inline;

  div.title_alias{
      display: inline-block; _display: inline;
      border-color: black;
      border-style: solid;
      border-width: 1px;
      padding: 7px;
      background: url("th_001.gif") repeat-x scroll 0 0 transparent;
  }
  div.info_alias{
      display: inline-block; _display: inline;
      margin-left: -4px;
      width: 200px;
      border-color: black;
      border-style: solid;
      border-width: 1px;
      padding: 7px; 
      background-color: #A5D7AA;  
      /*background: url("th_002.jpg") repeat-x scroll 0 0 transparent;*/ 
  }
}

div#select_info{
  display: inline-block; _display: inline;

  div.title_alias{
      display: inline-block; _display: inline;
      border-color: black;
      border-style: solid;
      border-width: 1px;
      padding: 7px;
      background: url("th_001.gif") repeat-x scroll 0 0 transparent;
  }
  
  div.select_alias{
      display: inline-block; _display: inline;
      border-color: black;
      border-style: solid;
      border-width: 1px;
      padding: 2px;
      padding-bottom: 5px;
      text-align: right;
      margin-left: -4px;
      
  }
  
  div.radio_alias{
      display: inline-block; _display: inline;
      border-color: black;
      border-style: solid;
      border-width: 1px;
      padding: 3px;
      padding-bottom: 7px;
      text-align: right;
      margin-left: -4px;
      
  }
  
}

