.wat-cf:after {
     content: "."; 
     display: block; 
     height: 0; 
     clear: both; 
     visibility: hidden;
}

.wat-cf {display: inline-block;}

/* Hides from IE-mac \*/
* html .wat-cf {height: 1%;}
.wat-cf {display: block;}
/* End hide from IE-mac */

h1 { margin: 15px 0; font-size: 22px; font-weight: normal; }
h2 { font-size: 22px; margin: 15px 0; font-weight: normal;}
h3 { font-size: 18px; margin: 10px 0; font-weight: normal;}
h4 { font-size: 16px; margin: 10px 0; font-weight: normal;}
hr {height: 1px; border: 0; }
p { margin: 15px 0;}
a img { border: none; }

#user-navigation {
  position: absolute;
  top: 0px;
  right: 20px;  
}

#main-navigation {
  width: 100%;
}

#user-navigation ul, #main-navigation ul, .secondary-navigation ul, #sidebar ul.navigation {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#user-navigation ul li, #main-navigation ul li, .secondary-navigation ul li {
  float: left;  
}

#main-navigation ul li {
  margin-right: 5px;
}

#user-navigation ul li {
  padding: 5px 10px;
}

#main-navigation ul li a:link, #main-navigation ul li a:visited, #main-navigation ul li a:hover, #main-navigation ul li a:active,
.secondary-navigation ul li a:link, .secondary-navigation ul li a:visited, .secondary-navigation ul li a:hover, .secondary-navigation ul li a:active,
#user-navigation ul li a:link, #user-navigation ul li a:visited, #user-navigation ul li a:hover, #user-navigation ul li a:active {
  text-decoration: none;
}

#main-navigation ul li a {
  font-size: 14px;
  line-height: 14px;
  display: block;
  padding: 8px 15px;
}

.secondary-navigation {
  font-size: 13px;  
  border-bottom-width: 10px;
  border-bottom-style: solid;
}

.secondary-navigation ul li a {
  display: block;
  padding: 10px 15px;  
}






#main-navigation ul li {
  background: #456;
  border-top: 1px solid #5C738A;
  color: #eee;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#main-navigation ul li:hover {
  border-top-color: #7593B0;
  background-color: #576C82 !important;
  color: #fff;
}

#main-navigation ul li.active {
  border-top: 1px solid #fff;
  background-color: #eee !important;
  color: #333;
}

#main-navigation ul li a:link, #main-navigation ul li a:visited, #main-navigation ul li a:hover, #main-navigation ul li a:active,
.secondary-navigation ul li a:link, .secondary-navigation ul li a:visited, .secondary-navigation ul li a:hover, .secondary-navigation ul li a:active,
#user-navigation ul li a:link, #user-navigation ul li a:visited, #user-navigation ul li a:hover, #user-navigation ul li a:active {
  text-decoration: none;
  color: #FFF;
}

#user-navigation ul li a:link, #user-navigation ul li a:visited {
  color: #CDE;
  border-bottom: 1px dotted #345;
}

#user-navigation ul li a:hover {
  color: #fff;
  border-bottom: 1px dotted #CDE;
  text-decoration: none;
}

#main-navigation ul li a {
  font-size: 12px;
  padding: 3px 10px;
}

#main-navigation ul li.active a:link, #main-navigation ul li.active a:visited, #main-navigation ul li.active a:hover, #main-navigation ul li.active a:active {
  color: #364b69;
}
