// Place all the styles related to the d_sales controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#shop_info{
  display: inline-block; _display: inline;

  div.title_alias{
      display: inline-block; _display: inline;
      border-color: black;
      border-style: solid;
      border-width: 1px;
      padding: 7px;
      background: url("th_001.gif") repeat-x scroll 0 0 transparent;
  }
  div.info_alias{
      display: inline-block; _display: inline;
      margin-left: -4px;
      width: 200px;
      border-color: black;
      border-style: solid;
      border-width: 1px;
      padding: 7px; 
      background-color: #A5D7AA;  
      /*background: url("th_002.jpg") repeat-x scroll 0 0 transparent;*/ 
  }
}

div#select_day_info{
  display: inline-block; _display: inline;
  
  div.title_alias{
      display: inline-block; _display: inline;
      border-color: black;
      border-style: solid;
      border-width: 1px;
      padding: 7px;
      margin-left: 30px;
      background: url("th_001.gif") repeat-x scroll 0 0 transparent;
  }
  
  div.input_alias{
    display: inline-block; _display: inline;
            border-color: black;
      border-style: solid;
      border-width: 1px;
      padding: 4px;
      padding-bottom: 5px;
      text-align: right;
      margin-left: -4px;
      
      input#head_input_day{
        width: 100px;
        margin: 0px;
        padding: 0px;
        text-align: right;
      }
  }

  div.info_alias{
      display: inline-block; _display: inline;
      margin-left: -4px;
      width: 100px;
      border-color: black;
      border-style: solid;
      border-width: 1px;
      padding: 7px; 
      background-color: #A5D7AA;  
      /*background: url("th_002.jpg") repeat-x scroll 0 0 transparent;*/ 
  }

}  

div#before_day_info{
  display: inline-block; _display: inline;
  margin-left: 40px;
  div.title_alias{
      display: inline-block; _display: inline;
      border-color: black;
      border-style: solid;
      border-width: 1px;
      padding: 7px;
      margin-left: 0px;
      background: url("th_001.gif") repeat-x scroll 0 0 transparent;
  }
  

  div.info_alias{
      display: inline-block; _display: inline;
      margin-left: -4px;
      width: 75px;
      border-color: black;
      border-style: solid;
      border-width: 1px;
      padding: 7px; 
      background-color: #A5D7AA;  
      text-align: right;
      /*background: url("th_002.jpg") repeat-x scroll 0 0 transparent;*/ 
  }

}  

div#shop_kbn_info{
  display: inline-block; _display: inline;
  
  div.title_alias{
      display: inline-block; _display: inline;
      border-color: black;
      border-style: solid;
      border-width: 1px;
      padding: 7px;
      margin-left: 30px;
      background: url("th_001.gif") repeat-x scroll 0 0 transparent;
  }
  
  div.input_alias{
    display: inline-block; _display: inline;
            border-color: black;
      border-style: solid;
      border-width: 1px;
      padding: 3px;
      padding-bottom: 4px;
      text-align: right;
      margin-left: -4px;
      
      input#head_input_day{
        width: 100px;
        margin: 0px;
        padding: 0px;
        text-align: right;
      }
  }
}  

div#d_sale{
  display: inline-block; _display: inline;
  /*margin-top: 20px;*/
  
  div.title_alias{
      display: inline-block; _display: inline;
      border-color: black;
      border-style: solid;
      border-width: 1px;
      padding: 5px;
      width: 80px;
      text-align: center;
      background: url("th_001.gif") repeat-x scroll 0 0 transparent;
  }
  
  div.input_alias{
    display: inline-block; _display: inline;
      border-color: black;
      border-style: solid;
      border-width: 1px;
      width: 90px;
      
      padding: 1px;
      padding-bottom: 2px;
      /*padding-top: 2px;*/
    
      margin-top: -3px;
      margin-left: -4px;
      /*background-color: #ED7139;*/
      
      text-align: right;
      
      input{
        
      }
  }
  
  div.info_alias{
      display: inline-block; _display: inline;
      margin-left: -4px;
      width: 82px;
      border-color: black;
      border-style: solid;
      border-width: 1px;
      padding: 5px;   
      text-align: right;
      background-color: #A5D7AA;  
      /*background: url("th_002.jpg") repeat-x scroll 0 0 transparent;*/ 
  }
  
  div.none_alias{
      display: inline-block; _display: inline;
      margin-left: -4px;
      min-width: 190px;
      min-hegth: 10px;
          
  }
  


  div#pay_item, div#recive_item, div#etc_item, div#purika_item{
      /*display: inline-block; _display: inline;*/
      border-color: black;
      border-style: solid;
      border-width: 1px;
      min-hegth: 150px;
    margin: 0 0 20px;
    width: 605px;
    height: 190px;
    overflow: hidden;
    float:left;
  }
  
  div#total_alias{
    margin-left: 700px;
    /*display: inline-block; _display: inline;*/
    div.title_alias{
        display: inline-block; _display: inline;
        border-color: black;
        border-style: solid;
        border-width: 1px;
        padding: 5px;
        width: 100px;
        text-align: center;
        background: url("th_001.gif") repeat-x scroll 0 0 transparent;
    }

    div.info_alias{
        display: inline-block; _display: inline;
        margin-left: -4px;
        width: 110px;
        border-color: black;
        border-style: solid;
        border-width: 1px;
        padding: 5px;   
        text-align: right;
        background-color: #A5D7AA;  
        
        /*background: url("th_002.jpg") repeat-x scroll 0 0 transparent;*/ 
    }
  }
}


  div#report_view{
      /*display: inline-block; _display: inline;*/
      border-color: black;
      border-style: solid;
      border-width: 1px;
      min-hegth: 800px;
    margin: 0 0 20px;
    width: 940px;
    height: 800px;
    overflow: hidden;
    /*float:left;*/
    
    td.money {
      text-align: right;
    }
    td.title {
      text-align: center;
    }
    
  }
  
input.money{
  ime-mode: inactive;
  text-align: right;
}

input.number{
  ime-mode: inactive;
  text-align: left;
}

input.text{
  ime-mode: active;
  text-align: left;
}

div#result input[ type=checkbox ] {
  width: 40px; height: 40px;
  /*-moz-transform-origin: right bottom;*/
  -moz-transform: scale( 1.5 , 1.5 );
 /* -webkit-transform-origin: right bottom;*/
 /* -webkit-transform: scale( 2 , 2 );*/
}