/* スタイルシート: public/stylesheets/table.css */
/* ------------------
 styling for the tables 
   ------------------   */

/*
body
{
	line-height: 1.6em;
}
*/

#rounded-corner, .rounded-corner
{

    text-align: left;
    border-collapse: collapse;        
    margin-left:  5px;
}
#rounded-corner th, .rounded-corner th
{
	padding: 8px;
	font-weight: normal;
	text-align:center; 
          
	color: #039;
    font-weight:bold;
	background: url('th_001.gif');
    background-repeat:repeat-x;
    border: 1px solid #7D808A;
}
#rounded-corner td, .rounded-corner td
{
	border: 1px solid #8B8E99;
	color: #000457;
    padding:5px;
        
}
#rounded-corner td.icon, .rounded-corner td.icon
{
	border: 1px solid #8B8E99;
	color: #000457;
    font-weight:bold;
    text-align: center;
            padding:2px;
            padding-top: 4px;
}
#rounded-corner td.total, .rounded-corner td.total
{
	background: #e8edff;
        color: #FF0000;

}
#rounded-corner td.input_no, .rounded-corner td.input_no
{
	text-align: right;
}
#rounded-corner td.display,.rounded-corner td.display
{
	background-color: #A5D7AA; 
}

td.input-num
{
	background: #fdf3b5;
	text-align: right;
	
}
td.no-input-num
{
	background: #A5D7AA;
	text-align: right;
}
#rounded-corner tbody tr:hover td, .rounded-corner tbody tr:hover td
{
	background: #d0dafd;
}



#rounded-corner2, .rounded-corner2
{

    text-align: left;
    border-collapse: collapse;        
    margin-left:  5px;
}
#rounded-corner2 th, .rounded-corner2 th
{
    text-align: center;
	font-weight: normal;


	color: #039;
    font-weight:bold;
    background: url('th_002.jpg');
    background-repeat:repeat-x;
    border: 1px solid #7D808A;
}
#rounded-corner2 th.title, .rounded-corner2 th.title
{
    text-align: left;
}
#rounded-corner2 td, .rounded-corner2 td
{
	padding: 8px;
	border: 1px solid #8B8E99;
	color: #000457;

    padding:5px; 
}


#rounded-corner3{
	border-collapse:collapse;
	white-space:nowrap;
	border:solid 0px;
	padding:0px;
	margin:0px;	
 }
#rounded-corner3 tr.even{
 	background-color: #778899;
 }
#rounded-corner3 th{
    text-align: center;
	font-weight: normal;
	color: #039;
    font-weight:bold;
    background: url('th_002.jpg');
    background-repeat:repeat-x;
    border: 1px solid #7D808A;
} 
#rounded-corner3 td, .rounded-corner3 td
{
	border: 1px solid #8B8E99;
	color: #000457;
    
        
}
 



#rounded-corner4{
	border-collapse:collapse;
	white-space:nowrap;
	border:solid 0px;
	padding:0px;
	margin:0px;	
 }
#rounded-corner4 tr.even{
 	background-color: #778899;
 }
#rounded-corner4 th{
    text-align: center;
	font-weight: normal;
	color: #039;
    font-weight:bold;
    background: url('th_002.jpg');
    background-repeat:repeat-x;
    border: 1px solid #7D808A;
    height: 35px;
    
} 
#rounded-corner4 td, .rounded-corner3 td
{
	border: 1px solid #8B8E99;
	color: #000457;   
  height: 35px;
}
 

 