<h1>更新</h1>

<%= render 'form' %>

<%#= link_to 'Show', @m_fix_item %> 
<%#= link_to 'Back', m_fix_items_path %>
<%= link_to '戻る', {:action=>"index",:input_check=>@check_del_flg}, :class => 'return_icon' %>

