<%=render :partial => 'header' , :locals => {:m_shop_id => @m_shop_id,
	                                         :created_user_id => @created_user_id,
	                                         :audit_date_from => @audit_date_from,
	                                         :audit_date_to => @audit_date_to } %>
	                                         
<!-- 戻るボタンを実装する -->
<% if params[:back].to_s == "true" then %>
<a href="javascript:history.back();" class="return_icon" >戻る</a><br/>
<% end %>

<hr/>	                                         

<% if @d_wash_sale_flg.to_s == "true" then %>                                        
	<%=render :partial => 'form' %>
<% else %>
	<span style="color:red">洗車メーター売上入力が行われていません。</span>
<% end %>

<!-- 読取専用スクリプト -->
<% if params[:readonly].to_s == "true" then %>
<script language="JavaScript">
	//readonlyの場合はボタンを潰す
	$(function(){
		$(":submit,:button").each(function(){
			this.disabled = true;
		});
	});
</script>
<% end %>