<!DOCTYPE html>
<html>
<head>
  <title>SsKanri</title>

  <%= stylesheet_link_tag    "table" %> 
  <%= stylesheet_link_tag    "icon" %>   

</head>
<body>
  <div style="padding: 20px;">
	<%= yield %>
  </div>
</body>
</html>